$gilroy_700: "Gilroy Bold";
$gilroy_600: "Gilroy SemiBold";
$gilroy_500: "Gilroy Medium";

.wrapper {
    display: grid;
    max-width: 1280px;
    max-height: 880px;
    grid-template-columns: 7.6fr 92.3fr;
    margin: 1vw auto;

    .wrapper_aside {
        border-radius: 14px 0 0 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;

        .icon-vk {
            font-size: 43px;
            background: -webkit-gradient(linear, left top, left bottom, from(#7f7fd5), to(#e786d7));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-top: 46px;
        }

        .nav_aside__icons {
            height: 495px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 28px;
            position: relative;
            bottom: 240px;

            .nav_link-1,
            .nav_link-2,
            .nav_link-3,
            .nav_link-4,
            .nav_link-5,
            .nav_link-6,
            .nav_link-7 {
                margin: 21px 0;
                position: relative;
            }

            .nav_link-1:focus::before,
            .nav_link-1:hover::before,
            .nav_link-2:focus::before,
            .nav_link-2:hover::before,
            .nav_link-3:focus::before,
            .nav_link-3:hover::before,
            .nav_link-4:focus::before,
            .nav_link-4:hover::before,
            .nav_link-5:focus::before,
            .nav_link-5:hover::before,
            .nav_link-6:focus::before,
            .nav_link-6:hover::before,
            .nav_link-7:focus::before,
            .nav_link-7:hover::before {
                content: "";
                height: 50px;
                position: absolute;
                border: 2px solid #7f7fd5;
                border-radius: 0 3px 3px 0;
                background-color: #7f7fd5;
                padding: 5px 0;
                right: 62px;
                bottom: -17px;
                cursor: default;
            }
        }

        .button-cover,
        .knobs,
        .layer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .button {
            position: relative;
            width: 74px;
            height: 33px;
            margin-bottom: 46px;
            overflow: hidden;
            top: 603px;
        }

        .button.r,
        .button.r .layer {
            border-radius: 100px;
        }

        .checkbox {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
            z-index: 3;
        }

        .knobs {
            z-index: 2;
        }

        .layer {
            width: 100%;
            z-index: 1;
        }

        #button .knobs:before {
            content: url(../img/mooon.svg);
            position: absolute;
            top: 4px;
            left: 4px;
            width: 17px;
            height: 17px;
            color: #fff;
            border-radius: 50%;
            transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
        }

        #button .checkbox:checked + .knobs:before {
            content: "";
            left: 42px;
        }

        #button .knobs,
        #button .knobs:before,
        #button .layer {
            transition: 0.3s ease all;
        }
    }

    .wrapper_body {
        border-radius: 0 14px 14px 0;

        .wrapper_body__content {
            display: grid;
            grid-template-areas:
                "nav nav nav"
                "friends visitors followers"
                "reach reach reach"
                "info info info";
            grid-template-rows: 52px 152px 244px 244px;
            gap: 32px;
            margin: 43px 45px 47px 50px;
            color: white;
            text-align: center;
            align-content: center;

            .body_content__nav {
                grid-area: nav;
                display: flex;
                justify-content: space-between;

                .nav_search {
                    display: flex;
                    height: 50px;
                    align-items: center;

                    .nav_search_header {
                        width: 128px;
                        font-family: $gilroy_700;
                        font-size: 30px;
                        padding-right: 45px;
                    }

                    .nav_search__block {
                        display: flex;
                        width: 153px;
                        height: 32px;
                        margin-right: 25px;

                        .nav_search__loupe {
                            width: 27px;
                            border-radius: 8px 0 0 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .nav_search__input {
                            width: 124px;
                            border-radius: 0 8px 8px 0;
                            outline: none;
                            padding: 0;
                            font-family: $gilroy_500;
                        }
                    }
                }

                .nav_user {
                    width: 140px;
                    height: 50px;
                    display: flex;
                    align-items: center;

                    .nav_logo_user {
                        padding-right: 10px;
                        cursor: pointer;
                    }

                    .nav_pointer {
                        cursor: pointer;
                    }
                }

                .nav_user > p {
                    font-family: $gilroy_600;
                    font-size: 20px;
                    width: 52px;
                    padding-right: 11px;
                }

                .nav_search__block > input:focus::-webkit-input-placeholder {
                    color: transparent;
                }

                .nav_search > img {
                    cursor: pointer;
                }
            }

            .body_content__friends,
            .body_content__visitors,
            .body_content__followers {
                grid-area: friends;
                border-radius: 14px;

                .content_inside {
                    margin: 30px 23px;
                    height: 91px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .content_inside__top {
                        display: flex;
                        justify-content: space-between;

                        .inside_top_information {
                            font-family: $gilroy_700;
                            font-size: 20px;
                        }

                        .inside_top_dots {
                            display: flex;
                            margin-top: 10px;
                            cursor: pointer;

                            .dots {
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                background-color: #979797;
                                margin: 0 3px;
                            }
                        }
                    }

                    .content_inside__bot {
                        display: flex;
                        justify-content: space-between;

                        .inside_bot_information {
                            color: #cacaca;
                            font-family: $gilroy_500;
                            font-size: 20px;
                        }

                        .inside_bot_contents {
                            display: flex;

                            .inside_bot_percents {
                                font-family: $gilroy_500;
                                font-size: 20px;
                                color: #979797;
                            }
                        }

                        .inside_bot_contents > img {
                            margin-left: 9px;
                        }
                    }
                }
            }

            .body_content__visitors {
                grid-area: visitors;
            }

            .body_content__followers {
                grid-area: followers;
            }

            .body_content__reach {
                grid-area: reach;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 73.5fr 26.5fr;
                grid-template-areas: "reach-audience reach-device";
                text-align: center;
                align-content: center;
                grid-column-gap: 2vw;

                .body_content__reach-audience {
                    grid-area: reach-audience;
                    border-radius: 14px;

                    .reach-audience_content {
                        margin: 25px 25px 16px 25px;

                        .audience_graph {
                            background-size: cover;
                            height: 145px;
                            width: 718px;
                            margin-top: 27px;
                        }

                        .reach-audience_header {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;

                            .reach_h2 {
                                font-family: $gilroy_700;
                                font-size: 20px;
                                text-align: start;
                            }

                            .audience_header__data {
                                display: flex;
                                align-items: center;

                                .reach_date {
                                    font-family: $gilroy_500;
                                    font-size: 12px;
                                }

                                .audience_img {
                                    margin: 0 41px 1px 8px;
                                    cursor: pointer;
                                }

                                .reach_checkbox {
                                    font-family: $gilroy_600;
                                    font-size: 12px;

                                    .custom-checkbox_1,
                                    .custom-checkbox_2 {
                                        position: absolute;
                                        z-index: -1;
                                        opacity: 0;
                                    }

                                    .label_purple,
                                    .label_pink {
                                        display: inline-flex;
                                        align-items: center;
                                        user-select: none;
                                    }

                                    .label_pink {
                                        margin-right: 43px;
                                    }

                                    .label_purple {
                                        margin-right: 7px;
                                    }
                                }
                                .label_purple::before {
                                    content: "";
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    flex-shrink: 0;
                                    flex-grow: 0;
                                    border: 1px solid #7f7fd5;
                                    border-radius: 5px;
                                    margin-right: 0.5em;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: 50% 50%;
                                }

                                .label_pink::before {
                                    content: "";
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    flex-shrink: 0;
                                    flex-grow: 0;
                                    border: 1px solid #e786d7;
                                    border-radius: 5px;
                                    margin-right: 0.5em;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: 50% 50%;
                                }

                                .custom-checkbox_1:checked + .label_purple::before {
                                    border-color: #7f7fd5;
                                    background-image: url(../img/img_checkbox_purple.svg);
                                }

                                .custom-checkbox_2:checked + .label_pink::before {
                                    border-color: #e786d7;
                                    background-image: url(../img/img_checkbox_pink.svg);
                                }
                            }
                        }
                    }
                }

                .body_content__reach-device {
                    grid-area: reach-device;
                    border-radius: 14px;

                    .reach-device_content {
                        margin: 25px 11px 16px 19px;

                        .reach_h2 {
                            font-family: $gilroy_700;
                            font-size: 20px;
                            text-align: start;
                        }

                        .reach-device_schelude {
                            display: flex;

                            .schelude__graph {
                                height: 1px;

                                .schelude_purple-ellipse {
                                    position: relative;
                                    padding-top: 40px;
                                    padding-right: 30px;
                                }

                                .schelude_pink-ellipse {
                                    position: relative;
                                    bottom: 115px;
                                    right: -25px;
                                }

                                .schelude_purple-ellipse__amount {
                                    font-family: $gilroy_600;
                                    font-size: 12px;
                                    position: relative;
                                    bottom: 108px;
                                    right: 43px;
                                }

                                .schelude_pink-ellipse__amount {
                                    font-family: $gilroy_600;
                                    font-size: 12px;
                                    position: relative;
                                    bottom: 154px;
                                    left: 30px;
                                }
                            }
                        }
                    }
                }
            }

            .schelude__data {
                padding-top: 40px;

                .schelude_data__views {
                    display: flex;
                    align-items: center;
                    width: 94px;

                    .data_square_pink {
                        width: 16px;
                        height: 16px;
                        border-radius: 5px;
                    }

                    .data_list {
                        font-family: $gilroy_600;
                        font-size: 12px;
                        padding-left: 7px;
                    }

                    .data_square_purple {
                        width: 16px;
                        height: 16px;
                        border-radius: 5px;
                    }
                }

                .data_views__padding {
                    padding-top: 11px;
                }
            }

            .body_content__info {
                grid-area: info;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 63fr 37fr;
                grid-template-areas: "gender-age geo";
                color: white;
                text-align: center;
                align-content: center;
                grid-column-gap: 2vw;

                .body_content__gender-age {
                    grid-area: gender-age;
                    border-radius: 14px;

                    .gender-age_content {
                        margin: 25px 25px 0 0;

                        .gender-age_header {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            margin-left: 23px;

                            .gender_h2 {
                                font-family: $gilroy_700;
                                font-size: 20px;
                                text-align: start;
                            }

                            .gender-age_header__data {
                                display: flex;
                                align-items: center;

                                .data_square_pink {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 5px;
                                }

                                .data_list {
                                    font-family: $gilroy_600;
                                    font-size: 12px;
                                    padding-left: 7px;
                                }

                                .data_square_purple {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 5px;
                                }

                                .data_padding {
                                    padding-right: 20px;
                                }
                            }
                        }

                        .gender-age_graph {
                            margin-top: 27px;
                            width: 634px;
                            height: 167px;
                            background-size: cover;
                        }

                        .gender-age_div_lines {
                            position: relative;

                            .gender-age_lines {
                                position: absolute;
                                height: 118px;
                                width: 2px;
                            }
                        }

                        .gender-age_div_lines > div {
                            bottom: 38px;
                        }

                        .gender-age_div_lines > div:nth-child(1) {
                            left: 133px;
                        }
                        .gender-age_div_lines > div:nth-child(2) {
                            left: 202px;
                        }
                        .gender-age_div_lines > div:nth-child(3) {
                            left: 273px;
                        }
                        .gender-age_div_lines > div:nth-child(4) {
                            left: 344px;
                        }
                        .gender-age_div_lines > div:nth-child(5) {
                            left: 414px;
                        }
                        .gender-age_div_lines > div:nth-child(6) {
                            left: 484px;
                        }
                        .gender-age_div_lines > div:nth-child(7) {
                            left: 557px;
                        }
                        .gender-age_div_lines > div:nth-child(8) {
                            bottom: 38px;
                            left: 632px;
                        }
                    }
                }

                .body_content__geo {
                    grid-area: geo;
                    border-radius: 14px;

                    .geo_content {
                        margin: 25px 25px 16px 24px;

                        .geo_header {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;

                            .geo_h2 {
                                font-family: $gilroy_700;
                                font-size: 20px;
                                text-align: start;
                            }

                            .geo_header__data {
                                display: flex;
                                align-items: center;

                                .geo_country {
                                    font-family: $gilroy_600;
                                    font-size: 12px;
                                    padding-right: 12px;
                                }

                                .geo_city {
                                    font-family: $gilroy_600;
                                    font-size: 12px;
                                }
                            }
                        }

                        .geo_graph {
                            display: grid;
                            grid-template-columns: 140px 140px;
                            grid-template-rows: 33px 33px 33px;
                            column-gap: 52px;
                            row-gap: 21px;
                            margin-top: 25px;
                            font-family: $gilroy_500;

                            .geo_country {
                                font-family: $gilroy_600;
                                font-size: 12px;
                                padding-right: 12px;
                            }

                            .geo_city {
                                font-family: $gilroy_600;
                                font-size: 12px;
                            }
                        }

                        .geo_graph > div > div {
                            display: flex;
                            justify-content: space-between;
                        }

                        .geo_bar_padding {
                            margin-top: 11px;
                            height: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    body {
        width: 770px;
        margin: 0 auto;
    }
    .wrapper {
        max-height: 1380px;
        grid-template-columns: 7.6fr 92.3fr;
        margin: 0;

        .wrapper_aside {
            justify-content: end;

            .icon-vk {
                padding-top: 24px;
            }

            .nav_aside__icons {
                position: sticky;
                top: 0px;
                margin-top: 20px;
            }

            .button {
                top: 30px;
            }
        }

        .wrapper_body {
            .wrapper_body__content {
                grid-template-areas:
                    "nav"
                    "friends"
                    "visitors"
                    "followers"
                    "reach"
                    "info";
                grid-template-rows: 52px 110px 110px 110px;
                grid-template-columns: 635px;
                gap: 2vh;
                justify-items: center;
                margin: 20px 30px;

                .body_content__nav {
                    .nav_search {
                        width: 500px;
                    }

                    .nav_user {
                        width: 135px;
                    }
                }

                .body_content__friends,
                .body_content__visitors,
                .body_content__followers {
                    width: 300px;

                    .content_inside {
                        margin: 18px 18px;
                        height: 69px;
                    }
                }
                .body_content__reach {
                    grid-template-areas:
                        "reach-audience"
                        "reach-device";
                    grid-row-gap: 2vh;
                    grid-template-rows: 1fr 0.94fr;
                    justify-items: center;
                    grid-column-gap: 0;

                    .body_content__reach-audience {
                        width: 635px;

                        .reach-audience_content {
                            .audience_graph {
                                background-size: cover;
                                height: 120px;
                                width: 600px;
                                margin-top: 27px;
                            }
                        }
                    }

                    .body_content__reach-device {
                        .reach-device_content {
                            .reach_h2 {
                                display: flex;
                                justify-content: center;
                            }

                            .reach-device_schelude {
                                .schelude__graph {
                                    width: 155px;

                                    .schelude_purple-ellipse {
                                        padding-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                .schelude__data {
                    padding-top: 25px;
                }

                .body_content__info {
                    grid-template-rows: 1fr 1fr;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        "gender-age"
                        "geo";
                    grid-row-gap: 2vh;
                    justify-items: center;

                    .body_content__gender-age {
                        .gender-age_content {
                            .gender-age_header {
                                margin-bottom: 20px;
                            }

                            .gender-age_graph {
                                padding-top: 27px;
                                width: 600px;
                                height: 120px;
                                background-size: cover;
                            }

                            .gender-age_div_lines {
                                position: relative;

                                .gender-age_lines {
                                    position: absolute;
                                    height: 114px;
                                    width: 2px;
                                }
                            }

                            .gender-age_div_lines > div {
                                bottom: 23px;
                            }

                            .gender-age_div_lines > div:nth-child(1) {
                                left: 126px;
                            }
                            .gender-age_div_lines > div:nth-child(2) {
                                left: 193px;
                            }
                            .gender-age_div_lines > div:nth-child(3) {
                                left: 259px;
                            }
                            .gender-age_div_lines > div:nth-child(4) {
                                left: 326px;
                            }
                            .gender-age_div_lines > div:nth-child(5) {
                                left: 393px;
                            }
                            .gender-age_div_lines > div:nth-child(6) {
                                left: 459px;
                            }
                            .gender-age_div_lines > div:nth-child(7) {
                                left: 529px;
                            }
                            .gender-age_div_lines > div:nth-child(8) {
                                bottom: 23px;
                                left: 598px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    body {
        width: 680px;
    }
    .wrapper {
        max-height: 1380px;
        grid-template-columns: 1fr;
        margin: 0;

        .wrapper_body {
            border-radius: 20px;
        }

        .wrapper_aside {
            flex-direction: unset;
            justify-content: unset;
            border-radius: 20px;
    
            .icon-vk {
                padding-top: 0;
                margin-left: 30px;
            }
    
            .nav_aside__icons {
                flex-direction: unset;
                width: 380px;
                justify-content: space-between;
                margin-left: 70px;
                height: 50px;
                position: inherit;
                margin-top: -15px;  
   
                .nav_link-1:focus::before,
                .nav_link-1:hover::before,
                .nav_link-2:focus::before,
                .nav_link-2:hover::before,
                .nav_link-3:focus::before,
                .nav_link-3:hover::before,
                .nav_link-4:focus::before,
                .nav_link-4:hover::before,
                .nav_link-5:focus::before,
                .nav_link-5:hover::before,
                .nav_link-6:focus::before,
                .nav_link-6:hover::before,
                .nav_link-7:focus::before,
                .nav_link-7:hover::before {
                    content: "";
                    height: 0;
                    width: 30px;
                    position: absolute;
                    border: 2px solid #7f7fd5;
                    border-radius: 0 0 3px 3px;
                    background-color: #7f7fd5;
                    padding: 0 6px;
                    right: -8px;
                    bottom: 26px;
                    cursor: default;
                }
            }
            .button {
                margin-top: -15px;
                margin-left: 60px;
            }
        }
    }
}
