body {
  background-color: black;
}

.wrapper .wrapper_aside {
  background-color: #282c31;
  border: 1px solid #4d4d4d;
}

.wrapper .wrapper_aside .nav_aside__icons {
  color: #cacaca;
}

.wrapper .wrapper_aside .nav_aside__icons .nav_link-1:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-1:visited,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-2:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-2:visited,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-3:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-3:visited,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-4:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-4:visited,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-5:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-5:visited,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-6:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-6:visited,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-7:link,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-7:visited {
  color: #cacaca;
  text-decoration: none;
}

.wrapper .wrapper_aside .nav_aside__icons .nav_link-1:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-1:focus,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-2:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-2:focus,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-3:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-3:focus,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-4:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-4:focus,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-5:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-5:focus,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-6:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-6:focus,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-7:hover,
.wrapper .wrapper_aside .nav_aside__icons .nav_link-7:focus {
  color: #7f7fd5;
}

.wrapper .wrapper_aside #button .knobs:before {
  border: 4px solid #7f7fd5;
  background-color: #7f7fd5;
}

.wrapper .wrapper_aside #button .checkbox:checked + .knobs:before {
  border-color: #EFF3F9;
}

.wrapper .wrapper_aside #button .checkbox:checked ~ .layer {
  background-color: #7f7fd5;
}

.wrapper .wrapper_body {
  background-color: #212427;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__nav .nav_search .nav_search_header {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__nav .nav_search .nav_search__block .nav_search__loupe {
  border-left: 1px solid #4c4c4c;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__nav .nav_search .nav_search__block .nav_search__input {
  border-right: 1px solid #4c4c4c;
  border-top: 1px solid #4c4c4c;
  border-bottom: 1px solid #4c4c4c;
  border-left: 0px;
  background-color: #212427;
  color: #979797;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__nav .nav_user > p {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__friends,
.wrapper .wrapper_body .wrapper_body__content .body_content__visitors,
.wrapper .wrapper_body .wrapper_body__content .body_content__followers {
  background-color: #282c31;
  border: 1px solid #4d4d4d;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__friends .content_inside .content_inside__top .inside_top_information,
.wrapper .wrapper_body .wrapper_body__content .body_content__visitors .content_inside .content_inside__top .inside_top_information,
.wrapper .wrapper_body .wrapper_body__content .body_content__followers .content_inside .content_inside__top .inside_top_information {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__friends .content_inside .content_inside__top .inside_top_dots .dots,
.wrapper .wrapper_body .wrapper_body__content .body_content__visitors .content_inside .content_inside__top .inside_top_dots .dots,
.wrapper .wrapper_body .wrapper_body__content .body_content__followers .content_inside .content_inside__top .inside_top_dots .dots {
  background-color: #979797;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__friends .content_inside .content_inside__bot .inside_bot_information,
.wrapper .wrapper_body .wrapper_body__content .body_content__visitors .content_inside .content_inside__bot .inside_bot_information,
.wrapper .wrapper_body .wrapper_body__content .body_content__followers .content_inside .content_inside__bot .inside_bot_information {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__reach .body_content__reach-audience {
  background-color: #282c31;
  border: 1px solid #4d4d4d;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__reach .body_content__reach-audience .reach-audience_content .reach-audience_header {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__reach .body_content__reach-audience .reach-audience_content .audience_graph {
  background-image: url(../img/dark-theme/graph_audience-dark.png);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__reach .body_content__reach-device {
  background-color: #282c31;
  border: 1px solid #4d4d4d;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__reach .body_content__reach-device .reach-device_content .reach_h2 {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__reach .body_content__reach-device .reach-device_content .reach-device_schelude .schelude__graph {
  color: #fff;
}

.wrapper .wrapper_body .wrapper_body__content .schelude__data .schelude_data__views .data_square_pink {
  background-color: #e786d7;
}

.wrapper .wrapper_body .wrapper_body__content .schelude__data .schelude_data__views .data_list {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .schelude__data .schelude_data__views .data_square_purple {
  background-color: #7f7fd5;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age {
  background-color: #282c31;
  border: 1px solid #4d4d4d;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age .gender-age_content .gender-age_header .gender_h2 {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age .gender-age_content .gender-age_header .gender-age_header__data .data_square_pink {
  background-color: #e786d7;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age .gender-age_content .gender-age_header .gender-age_header__data .data_list {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age .gender-age_content .gender-age_header .gender-age_header__data .data_square_purple {
  background-color: #7f7fd5;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age .gender-age_content .gender-age_graph {
  background-image: url(../img/dark-theme/graph_gender-age_dark.png);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__gender-age .gender-age_content .gender-age_div_lines .gender-age_lines {
  background-image: url(../img/dark-theme/graph_gender-age_line_dark.svg);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo {
  background-color: #282c31;
  border: 1px solid #4d4d4d;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_header {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_header .geo_header__data .geo_city {
  color: #979797;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_graph .geo_country {
  color: #cacaca;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_graph .geo_city {
  color: #979797;
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_img_russia {
  background-image: url(../img/dark-theme/geo_russia_dark.svg);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_img_china {
  background-image: url(../img/dark-theme/geo_china_dark.svg);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_img_ukraine {
  background-image: url(../img/dark-theme/geo_ukraine_dark.svg);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_img_usa {
  background-image: url(../img/dark-theme/geo_usa_dark.svg);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_img_mongolia {
  background-image: url(../img/dark-theme/geo_mongolia_dark.svg);
}

.wrapper .wrapper_body .wrapper_body__content .body_content__info .body_content__geo .geo_content .geo_img_other {
  background-image: url(../img/dark-theme/geo_other_dark.svg);
}
