$grey_darker: #282c31;
$grey_lighter: #4d4d4d;
$color_cacaca: #cacaca;
$color_97: #979797;
$color_purple: #7f7fd5;
$color_pink: #e786d7;
$color_grey: #4c4c4c;
$color_eff: #EFF3F9;

body {
    background-color: black;
}

.wrapper {
    .wrapper_aside {
        background-color: $grey_darker;
        border: 1px solid $grey_lighter;

        .nav_aside__icons {
            color: $color_cacaca;

            .nav_link-1:link,
            .nav_link-1:visited,
            .nav_link-2:link,
            .nav_link-2:visited,
            .nav_link-3:link,
            .nav_link-3:visited,
            .nav_link-4:link,
            .nav_link-4:visited,
            .nav_link-5:link,
            .nav_link-5:visited,
            .nav_link-6:link,
            .nav_link-6:visited,
            .nav_link-7:link,
            .nav_link-7:visited {
                color: $color_cacaca;
                text-decoration: none;
            }

            .nav_link-1:hover,
            .nav_link-1:focus,
            .nav_link-2:hover,
            .nav_link-2:focus,
            .nav_link-3:hover,
            .nav_link-3:focus,
            .nav_link-4:hover,
            .nav_link-4:focus,
            .nav_link-5:hover,
            .nav_link-5:focus,
            .nav_link-6:hover,
            .nav_link-6:focus,
            .nav_link-7:hover,
            .nav_link-7:focus {
                color: $color_purple;
            }
        }

        #button .knobs:before {
            border: 4px solid $color_purple;
            background-color: $color_purple;
        }

        #button .checkbox:checked + .knobs:before {
            border-color: $color_eff;
        }

        #button .checkbox:checked ~ .layer {
            background-color: $color_purple;
        }
    }

    .wrapper_body {
        background-color: #212427;

        .wrapper_body__content {
            .body_content__nav {
                .nav_search {
                    .nav_search_header {
                        color: $color_cacaca;
                    }

                    .nav_search__block {
                        .nav_search__loupe {
                            border-left: 1px solid $color_grey;
                            border-top: 1px solid $color_grey;
                            border-bottom: 1px solid $color_grey;
                        }

                        .nav_search__input {
                            border-right: 1px solid $color_grey;
                            border-top: 1px solid $color_grey;
                            border-bottom: 1px solid $color_grey;
                            border-left: 0px;
                            background-color: #212427;
                            color: $color_97;
                        }
                    }
                }

                .nav_user > p {
                    color: $color_cacaca;
                }
            }

            .body_content__friends,
            .body_content__visitors,
            .body_content__followers {
                background-color: $grey_darker;
                border: 1px solid $grey_lighter;

                .content_inside {
                    .content_inside__top {
                        .inside_top_information {
                            color: $color_cacaca;
                        }

                        .inside_top_dots {
                            .dots {
                                background-color: $color_97;
                            }
                        }
                    }

                    .content_inside__bot {
                        .inside_bot_information {
                            color: $color_cacaca;
                        }
                    }
                }
            }

            .body_content__reach {
                .body_content__reach-audience {
                    background-color: $grey_darker;
                    border: 1px solid $grey_lighter;

                    .reach-audience_content {
                        .reach-audience_header {
                            color: $color_cacaca;
                        }

                        .audience_graph {
                            background-image: url(../img/dark-theme/graph_audience-dark.png);
                        }
                    }
                }

                .body_content__reach-device {
                    background-color: $grey_darker;
                    border: 1px solid $grey_lighter;

                    .reach-device_content {
                        .reach_h2 {
                            color: $color_cacaca;
                        }

                        .reach-device_schelude {
                            .schelude__graph {
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .schelude__data {
                .schelude_data__views {
                    .data_square_pink {
                        background-color: $color_pink;
                    }

                    .data_list {
                        color: $color_cacaca;
                    }

                    .data_square_purple {
                        background-color: $color_purple;
                    }
                }
            }

            .body_content__info {
                .body_content__gender-age {
                    background-color: $grey_darker;
                    border: 1px solid $grey_lighter;

                    .gender-age_content {
                        .gender-age_header {
                            .gender_h2 {
                                color: $color_cacaca;
                            }

                            .gender-age_header__data {
                                .data_square_pink {
                                    background-color: $color_pink;
                                }

                                .data_list {
                                    color: $color_cacaca;
                                }

                                .data_square_purple {
                                    background-color: $color_purple;
                                }
                            }
                        }

                        .gender-age_graph {
                            background-image: url(../img/dark-theme/graph_gender-age_dark.png);
                        }

                        .gender-age_div_lines {
                            .gender-age_lines {
                                background-image: url(../img/dark-theme/graph_gender-age_line_dark.svg);
                            }
                        }
                    }
                }

                .body_content__geo {
                    background-color: $grey_darker;
                    border: 1px solid $grey_lighter;

                    .geo_content {
                        .geo_header {
                            color: $color_cacaca;

                            .geo_header__data {
                                .geo_city {
                                    color: $color_97;
                                }
                            }
                        }

                        .geo_graph {
                            .geo_country {
                                color: $color_cacaca;
                            }

                            .geo_city {
                                color: $color_97;
                            }
                        }

                        .geo_img_russia {
                            background-image: url(../img/dark-theme/geo_russia_dark.svg);
                        }

                        .geo_img_china {
                            background-image: url(../img/dark-theme/geo_china_dark.svg);
                        }

                        .geo_img_ukraine {
                            background-image: url(../img/dark-theme/geo_ukraine_dark.svg);
                        }

                        .geo_img_usa {
                            background-image: url(../img/dark-theme/geo_usa_dark.svg);
                        }

                        .geo_img_mongolia {
                            background-image: url(../img/dark-theme/geo_mongolia_dark.svg);
                        }

                        .geo_img_other {
                            background-image: url(../img/dark-theme/geo_other_dark.svg);
                        }
                    }
                }
            }
        }
    }
}
